/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.main{
    display: flex;
    background-color: #f1f1f1;
}
.inner_block{
    background-color: white;
    margin-left: 80px;
    margin-top: 80px;
    width: 700px;
    padding-left: 50px;
    padding-right: 50px;
}
.inner_block_h2{
    font-size: 45px;
    margin-top: 60px;
}
.inner_block2{
    padding-left: 70px;
    background-color: white;
}
.inner_block2_img{
    margin-top: 90px;
}
.text{
    font-size: 20px;
    margin-top: 35px;
}
.text2{
    margin-top: 30px;
    margin-left: 250px;
    font-size: 20px;
}
.text3{
    margin-top: 50px;
    margin-left: 165px;
    font-size: 20px;
}
.hr{
    margin-left: 0px;
    width: 224px;
}
.inner_block2_inner{
    margin-top: 50px;
    width: 290px;
}
.link{
    font-size: 20px;
    color: #7b7b7b;
    text-decoration: none;
}
.li_block{
    margin-top: 15px;
    font-size: 20px;
}
.block3{
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-left: 23px;
    border: 1px black solid;
}
.block3_text_h{
    padding-top: 15px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.block3_inner{
    margin-top: 20px;
    margin-left: 15px;
}
.li2{
    list-style: square;
}
.link_li{
    color: #86c5f1;
    font-size: 20px;
    text-decoration: none;
}
.inner_block3_h{
    font-size: 30px;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 150px;
}
.img2{
    margin-left: 100px;
}
.img3{
    margin-left: 260px;
}
.img4{
    margin-left: 220px;
}
.img5{
    margin-left: 60px;
}
.text_img6{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 225px;
}
.inner_block4_h{
    font-size: 30px;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 25px;
}
